<div class="d-flex">
<h2 class="componentHead">Property List</h2>
<button class="btn btn-outline-success px-3 d-none d-lg-flex ml-auto p-2" routerLink="/dashboard/addproperties">Add Properties</button>
</div>


<table class="table table-striped" *ngIf="allProperties">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Location</th>
      <th scope="col">Area</th>
      <th scope="col">Bank Name</th>
      <th scope="col">Action ID</th>
      <th scope="col">Action Date</th>
      <th scope="col">Sale Type</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of allProperties">
      <th scope="row"><a (click)="viewProperty(property._id)">{{property.auctionId}}</a></th>
      <td><a (click)="viewProperty(property._id)">{{property.title}}</a></td>
      <td>{{property.location}}, {{property.district}}, {{property.state}}</td>
      <td>{{property.projectSize}}</td>
      <td>{{property.organizationName}}, {{property.organizationBranch}}</td>
      <td>{{property.auctiondatetime}}</td>
      <td>{{property.saleType}}</td>
      <td><span class="material-icons text-success" style="cursor: pointer; font-size: 1.6em;" (click)="viewProperty(property._id)">
      open_in_new
      </span></td>
      <td><span class="material-icons text-warning" style="cursor: pointer; font-size: 1.6em;" (click)="editProperty(property._id)">
      edit
      </span></td>
      <td><span class="material-icons text-danger" style="cursor: pointer; font-size: 1.6em;" (click)="delProperty(property._id)">
      delete
      </span></td>
    </tr>
  </tbody>
</table>
