<div class="d-flex">
<h2 class="componentHead">Private Properties</h2>
<button class="btn btn-outline-success px-3 d-none d-lg-flex ml-auto p-2" (click)="addPropertyComponent()">Add</button>
<button class="btn btn-outline-success px-3 d-none d-lg-flex ml-auto p-2" (click)="viewAdminApprovals()">Approvals</button>
</div>

<div  *ngIf="viewPrivateProperties">
<table class="table table-striped" *ngIf="allProperties">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Location</th>
      <th scope="col">Area</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of allProperties">
      <th scope="row">{{property.title}}</th>
      <td>{{property.location}}, {{property.district}}, {{property.state}}</td>
      <td>{{property.projectSize}}</td>
      <td><button class="btn btn-outline-primary" (click)="viewProperty(property._id)"><span class="material-icons">
      open_in_new
</span></button></td>
      <td><button class="btn btn-outline-danger" (click)="delPrivateProperty(property._id)"><span class="material-icons">
delete
</span></button></td>
    </tr>
  </tbody>
</table>
</div>



<div  *ngIf="!viewPrivateProperties && addPrivateProperties">
    <form [formGroup]="PPDetailsForm" (ngSubmit)="addProperty()">
  <div class="form-row">
    <h5>Add</h5>
    <div class="col-md-4 mb-3">
      <label for="validationServer01">Title:</label>
      <input type="text" class="form-control" id="validationServer01" placeholder="Title" formControlName="title" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Type of Property:</label><br/>
      <select class="custom-select form-control" formControlName="propertyCategory">
        <option *ngFor="let property of allPropertiesTypes" value="{{property.propertyType}}">{{property.propertyType}}</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label>Property Category</label><br/>
      <select class="custom-select form-control" formControlName="propertyCategory">
        <option value="Immovable">Immovable</option>
        <option value="movable">movable</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label>Property Sub Category</label><br/>
      <select class="custom-select form-control" formControlName="propertySubCategory">
        <option *ngFor="let sub of propertySubTypes" value="{{sub.propertySubCategory}}">{{sub.propertySubCategory}}</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationServer05">Property Description:</label>
      <textarea class="form-control" id="validationServer05" rows="3" formControlName="propertyDescription" required></textarea>
    </div>
    <div class="col-md-4 mb-3">
      <label>Seller Name:</label>
      <input type="text" class="form-control" placeholder="Seller Name" formControlName="borrowerName" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Phone Number:</label>
      <input type="number" class="form-control" placeholder="999999999" formControlName="phonenumber" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Country:</label>
      <select class="custom-select form-control" formControlName="country">
        <option value="india" Selected>India</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label>State:</label>
      <select class="form-control" formControlName="state" (change)="onStateChange($event)" [(ngModel)]="selectedState">
        <option *ngFor="let state of stateNames" value="{{state.state_name_english}}">{{state.state_name_english}}</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label>District:</label>
      <select class="form-control" formControlName="district">
        <option selected>Select state</option>
        <option *ngFor="let district of districNames" value="{{district.district_name_english}}">{{district.district_name_english}}</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label>Location:</label>
      <input type="text" class="form-control" placeholder="location" formControlName="location" required>
    </div>
    <div class="col-md-4 mb-3">
      <label>Sale Type:</label>
      <br>
      <select class="form-control" formControlName="saleType">
        <option value="private">Private</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label>Property Type:</label>
      <br>
      <select class="custom-select form-control" formControlName="propertyType">
        <option value="Aprartment">Apartment</option>
        <option value="individual Building">Invidual Building</option>
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label>Project Size:</label>
      <input type="text" class="form-control" placeholder="1Acr" formControlName="projectSize" required>
    </div>
    
    <!-- <div class="custom-file">
      <label class="custom-file-label" for="customFile">Upload Property Images:</label>
      <br />
      <input type="file" class="custom-file-input" id="customFile">
      <label class="custom-file-label" for="customFile">Choose file</label>
    </div> -->
  </div>
    <div class="col-md-4 mb-3">
      <label>Reserve Price:</label>
      <input type="number" class="form-control" placeholder="Reserve Price" formControlName="reserveprice" required>
    </div>
  <div class="d-flex">
  <button type="submit" class="btn btn-outline-success">Submit</button>
  <button class="btn btn-outline-danger btn-cancel">Cancel</button>
  </div>
</form>
</div>



<div  *ngIf="viewadminApprovals && !viewPrivateProperties">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Location</th>
      <th scope="col">Area</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let property of viewApprovalRequireProperties">
      <th scope="row">{{property.title}}</th>
      <td>{{property.location}}, {{property.district}}, {{property.state}}</td>
      <td>{{property.projectSize}}</td>
      <td>
        <button class="btn btn-secondary" (click)="viewProperty(property._id)"><span class="material-icons" data-toggle="tooltip" data-placement="top" title="View">article</span></button>
        <button class="btn btn-success" (click)="approveProperty(property._id)"><span class="material-icons" data-toggle="tooltip" data-placement="top" title="Approve">done</span></button>
        <button class="btn btn-danger" (click)="delPrivateProperty(property._id)"><span class="material-icons" data-toggle="tooltip" data-placement="top" title="Delete">delete</span></button>
      </td>
    </tr>
  </tbody>
</table>
</div>