

        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0 mt-3">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">About Us</h1> 
                        <nav aria-label="breadcrumb animated fadeIn">
                        <ol class="breadcrumb text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-body active" aria-current="page">About</li>

                            
                        </ol>
                    </nav>
                    <p>At Rohan Enterprise, we bring over 5 years of industry experience in delivering trusted, reliable, and client-focused solutions. Our journey has been driven by a strong commitment to professionalism, transparency, and long-term client relationships. Whether you're searching for the perfect property, need expert consultation, or dependable service delivery, our experienced team ensures every interaction adds value and builds confidence. We’ve proudly earned the trust of our clients through consistent performance and ethical practices. We don’t just meet expectations — we strive to exceed them. Your goals are our mission.</p>
                    <p>✅ Why Choose Rohan Enterprise? 5+ Years of Trusted Industry Experience Transparent & Ethical Business Practices Certified Professionals & Skilled Team Personalized Support at Every Step A Strong Network Built on Trust and Results</p>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <img class="img-fluid" src="../../../assets/img/header.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- Header End --> 