// .sidebar {
//   background-color: #2c3e50;
//   color: #fff;
//   height: 100vh;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 60px; /* Collapsed width */
//   transition: width 0.3s ease;
//   overflow: hidden;
// }

// .sidebar.open {
//   width: 200px; /* Expanded width */
// }

// .mat-nav-list {
//   padding: 0;
//   margin: 0;
// }

// .mat-list-item {
//   padding: 15px;
//   display: flex;
//   align-items: center;
// }

// .icon {
//   font-size: 24px;
//   margin-right: 10px;
// }

// .text {
//   color: #fff;
//   display: inline-block;
// }

// .sidebar.open .text {
//   display: inline-block; /* Show text when sidebar is expanded */
// }

// .sidebar:not(.open) .text {
//   display: none; /* Hide text when sidebar is collapsed */
// }

.mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.mat-list-item .icon {
  font-size: 24px;
  margin-right: 10px;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}


.mat-list-item .text {
  font-size: 16px;
  color: #fff;
}

.sidebar.open .mat-list-item .text {
  display: inline-block;
}

.sidebar:not(.open) .mat-list-item .text {
  display: none; /* Hide text when sidebar is collapsed */
}
.big-img {
  width: 100px;
  height: 100px;
}
.small-img {
  width: 40px;
  height: 40px;
}
.hide-header-text {
  opacity: 0;
  height: 0 !important;
}
:host * {
  transition: all 500ms ease-in-out;
}
.selected-menu-item {
  border-left: 5px solid;
  border-left-color: rgb(111, 111, 241);
}

.sidenav-header {
  padding-top: 24px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  .header-text {
    height: 3rem;
    > h2 {
      margin: 0;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
    }
    > p {
      margin: 0;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}
.mdc-list-item--with-leading-icon .mdc-list-item__start {
  color: #2f61d5; /* Replace with your desired color */
}
